<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PongNotSoScratch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PongNotSoScratch.My.MySettings>
            <setting name="ScoreToWin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BallSpeedOnServe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlSensitivity" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WhoStarts" serializeAs="String">
                <value>Scorer</value>
            </setting>
            <setting name="SingleplayerControl" serializeAs="String">
                <value>Keyboard</value>
            </setting>
            <setting name="BotDifficulty" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="BallSpeedIncreaseRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>Singleplayer</value>
            </setting>
        </PongNotSoScratch.My.MySettings>
    </userSettings>
</configuration>
